{% extends 'carRental/password/base.html' %}
{% block content %}
<!--Password Reset Confirm-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>
    <form method="POST" action="{% url 'CarRental:password_reset_confirm'%}">
        {% csrf_token %}
        <div class=" form-group">
            <label for="newpwd">New Password:</label>
            <input type="password" maxlength="100" class="form-control" id="newpwd" title="Maximum 100 Characters"
                placeholder="Enter password" name="newpwd" onkeyup="confrmPassword();" required>
        </div>
        <div class="form-group">
            <label for="confrmnewpwd">Confirm New Password:</label>
            <input type="password" maxlength="100" class="form-control" id="confrmnewpwd" title="Maximum 100 Characters"
                placeholder="Confirm password" name="confrmnewpwd" onkeyup="confrmPassword();" required>
        </div>
        <button id="reset_btn" class="btn btn-primary" type="submit">Reset password</button>
    </form>
</div>
<script>
    var new_pass = document.getElementById('newpwd');
    var confrm_new_pass = document.getElementById('confrmnewpwd');
    function confrmPassword() {
        if (confrm_new_pass.value !== new_pass.value) {
            document.getElementById('reset_btn').style.display = 'none';
        } else {
            document.getElementById('reset_btn').style.display = 'block';
        }
    }
</script>
{% endblock %}